.section2 {
  background-color: #c7cec9;
  width: 100%;
  height: 100%;
  /* dsdsds */
  padding-top: 120px;
}

.section22 {
  display: flex;

  align-items: center;

  margin-left: 80px;
  margin-right: 80px;
}

.section222 {
  margin-left: 130px;
}

.section2 img {
  width: 678px;
  height: 755px;
}
.section222 h1 {
  font-size: 40px;
  color: #485342;
}
.section222 p {
  font-size: 14px;
  color: #485342;
  width: 380px;
  margin-top: 25px;
}

.section222 div {
  margin-top: 25px;
  border: 2px solid #485342;
  width: 130px;
  font-size: 14px;
  border-radius: 18px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section222 div:hover {
  background-color: #aeb5b0;
  color: #2f3a29;
  border-color: #2f3a29;
  transition: 0.2s ease-in;
}
@media screen and (max-width: 1300px) {
  .section22 {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 0;
  }
  .section2 img {
    position: absolute;
    margin-top: 50px;
    width: 400px;
    height: 400px;
  }
  .section222 {
    margin-left: 0px;
  }
  .section222 {
    width: 400px;
  }
  .section222 p {
    width: 400px;
  }

  .section222 h1 {
    margin-bottom: 430px;
  }
  .section222 div {
    margin-bottom: 80px;
  }
}
