.navbar {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 5;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.hamburger {
  display: none;
}

.navbar .nav-menu {
  display: flex;
  align-items: center;
  height: 100%;
}

.li1 {
  font-size: 14px;
  padding-right: 5rem;
  color: white;
  z-index: 50;
}

.navbar h1 {
  font-size: 40px;
  display: block;
  z-index: 10;
}
.navbar .arrow1 {
  position: absolute;
  margin-left: 10px;
  font-size: 14px;
}

.navbar .arrow2 {
  position: absolute;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 5px;
}

.navbar .nav-ul {
  position: absolute;
  flex-direction: column;
  width: 110px;
  height: 14vh;
  top: -40vh;

  align-items: end;
  justify-content: end;
  background-color: rgb(68, 89, 68);
  transition: 0.5s ease-in;
  border-radius: 4px;
  z-index: 100;
}

.navbar .active1 {
  top: 9vh;
}
.active1 li {
  color: white;
  margin: 1rem;
}
a {
  color: white;
}

@media screen and (max-width: 940px) {
  .hamburger {
    font-size: 30px;
    display: block;
    z-index: 15;
  }

  .navbar .nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    top: -40vh;
    left: 0;

    align-items: end;
    justify-content: top;
    background-color: rgb(68, 89, 68);
    transition: 0.5s ease-in;
  }

  .navbar .active {
    top: 0vh;
    height: 40vh;
  }

  .navbar .li1 {
    margin-bottom: 15px;
    font-size: 22px;
    padding-right: 25px;
  }
  .navbar .nav-ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 110px;
    height: 14vh;
    top: -40vh;
    right: 15px;

    align-items: end;
    justify-content: end;
    background-color: rgb(68, 89, 68);
    transition: 0.001s ease-in;
    border-radius: 4px;
    font-size: 17px;
  }
  .navbar .active1 {
    top: 18vh;
  }
  .active1 li {
    color: white;
    margin-top: 0px;
    margin-right: 0px;
  }
  .li11 {
    margin-top: 80px;
  }
  .li111 {
    margin-top: 70px;
  }
}
