.section31 {
  display: flex;
  width: 100%;
  height: 87.73vh;
  justify-content: center;
  align-items: center;
  background: url("../../../public/images/img31.avif") no-repeat;
}

@media screen and (max-width: 1000px) {
  .section31 .containerr {
    width: 400px;
  }
  .section311 h1 {
    font-size: 32px;
  }
  .section311 h2 {
    font-size: 56px;
  }
}
